/*TODO ESTO ES DEL NAVBAR*/

/* Estilos CSS básicos para la barra de navegación usando flexbox */
.navbar {
    background-color: #333;
    display: flex;
    /* Usa flexbox para alinear los elementos */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 0 20px;
    /* Añade un poco de padding a izquierda y derecha */
}

/* Estiliza todos los enlaces excepto el título */
.navbar a:not(.title) {
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    /* Ajusta este valor según sea necesario */
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s;
    /* Suaviza la transición del color de fondo */
}

/* Aplica el efecto hover solo a los enlaces que no tienen la clase .title */
.navbar a:not(.title):hover {
    background-color: #ddd;
    color: black;
}

.title {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 35px;
    margin-right: auto;
    /* Empuja todos los elementos a la derecha del título hacia la derecha */
}

    /* Espacio entre el logo y el título */
.logo {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 15px;
}

/* Nuevo: Para asegurar que los enlaces llenen verticalmente el navbar */
.navbar a {
    display: flex;
    align-items: center;
    height: 100%;
}

/*FIN DEL NAVBAR*/


/*Foto de perfil*/
#foto{
    
    width: 250px;
    height: 250px;
    border-radius: 150px;
    border: 2px solid black;
}

.titles{
    padding-top: 60px;
    padding-left: 40px;
    font-size: 40px;
    font-family:monospace;
}

.zona_arriba{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.div_centrado{
    display:flex;
    justify-content: center;
}

#intro{
    width: 600px;
    font-size: 18px;
}